@import url("https://fonts.googleapis.com/css2?family=Monomakh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Reset End */

:root {
  --deep-yellow: #f4d000;
  --festive-green: #397652;
  --seal-red: #d80100;
  --grey-black: #494438;
  --off-white: #efebea;

  --bg: #000;
  --text: #efebea;
}

* {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
}

* .lang-text[lang="ja"] {
  font-family:
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium",
    "Yu Gothic Medium", 游ゴシック体, YuGothic, メイリオ, Meiryo, Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.monomakh-regular {
  font-family: "Monomakh", serif;
  font-weight: 400;
  font-style: normal;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-jp-bold {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  color: var(--text);
}

body::before,
body::after {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 20%;
}

body::before {
  background: #07080a;
  filter: url(#noiseFilter);
}

header {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 80%;
  max-width: none;
  align-self: center;
  padding-top: 12px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  /* margin: 0 auto; */
  justify-self: center;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  background: radial-gradient(
    126.42% 76.6% at 50% 12.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 90%;
}

li {
  list-style-type: none;
  height: 27px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

li:has(> img) {
  margin-right: auto;
  filter: invert(1);
  width: 117px;
}

.site-logo {
  height: 20px;
}

li:has(> .switch-container) {
  margin-left: auto;
}

nav ul > li > a {
  border-radius: 5px;
  padding: 3px 5px;
  transition: all 300ms;
}

nav ul > li > a:hover {
  background: rgba(5, 3, 8, 0.3);
  color: #fff;
  transition: all 300ms;
}

/* Language Toggle Start */
/* Adapted from https://uiverse.io/JaydipPrajapati1910/splendid-panda-57 */
.switch-container,
.switch-container > * {
  box-sizing: content-box;
}

.switch-container {
  display: flex;
  vertical-align: middle;
  text-align: center;
  position: relative;
  /* top: 2.75px; */
}

.switch-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 600;
}

.btn-language-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-language-switch > label.btn-language-switch-inner {
  margin: 0px;
  width: 74px;
  height: 35px;
  /* background: #e0e0e0; */
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
  cursor: pointer;
}

.btn-language-switch > label.btn-language-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 13px;
  color: var(--text);
  opacity: 0.5;
}

.btn-language-switch > label.btn-language-switch-inner:after {
  content: attr(data-off);
  width: 30px;
  height: 29px;
  background: rgba(64, 123, 220, 0.8);
  color: var(--text);
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-language-switch > .alert {
  display: none;
  background: #ff9800;
  border: none;
  color: #fff;
}

.btn-language-switch input[type="checkbox"] {
  width: 30px;
  height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
  cursor: pointer;
}

.btn-language-switch
  input[type="checkbox"]:checked
  + label.btn-language-switch-inner {
  color: #fff;
}

.btn-language-switch
  input[type="checkbox"]:checked
  + label.btn-language-switch-inner:after {
  content: attr(data-on);
  left: 40px;
  padding-left: 1px;
  background: var(--seal-red);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-language-switch
  input[type="checkbox"]:checked
  + label.btn-language-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 11px;
  color: #fff;
}

.btn-language-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.dark-preview {
  background: #0d0d0d;
}

.white-preview {
  background: #fff;
}

.switch-container > kbd {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border: 1px solid rgba(55, 55, 55, 0.8);
  border-radius: 3px;
  transition: all 150ms ease;
  z-index: 10;
}

.switch-container .kbd-blob {
  position: absolute;
  filter: blur(10px);
  background: #859900;
  height: 20px;
  width: 20px;
  right: 3px;
  top: 6px;
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms ease;
}
/* Language Toggle End */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 80%;
}

.container {
  width: 90%;
  max-width: 1200px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  margin-top: 100px;
  margin-bottom: 80px;
  border: 5px solid var(--text);
  border-radius: 50%;
}

section#profile {
  padding-top: 169px;
}

h1,
h1 > *.lang-text[lang="en"] {
  font-family: "Caprasimo";
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: -12px;
}

h1 > *.lang-text[lang="ja"] {
  font-family: "Mochiy Pop One";
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: -12px;
}

h1.name-header {
  position: relative;
  left: -1px;
}

.name-header .greeting {
  font-size: 0.9em;
  font-weight: normal;
  font-family: inherit;
}

.top-profile-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 140px;
}

.profile-img-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  flex-shrink: 0;
}

.profile-img-container img {
  height: 320px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
}

.profile-img-container .img-blob {
  position: absolute;
  border-radius: 100px;
  filter: blur(90px);
  background: linear-gradient(180deg, #ffe6c4 0%, #998a76 100%);
  height: 280px;
  width: 280px;
  z-index: -1;
}

nav,
.profile-img-container,
.name-and-blurb-container,
.about-me-wrapper {
  animation: 1.5s fadeInDown;
}

.blurb {
  width: auto;
}

p > button.profile-contact-btn {
  margin-top: 3px;
}

.blurb > p > button {
  position: relative;
  color: var(--text);
  background: radial-gradient(
    36.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 5px 12px 5px 12px;
  display: inline-flex;
  gap: 14px;
  cursor: pointer;
  overflow: hidden;
}

p > button.profile-contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: radial-gradient(
    76.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(153, 138, 118, 0.31)
  );
  transition: opacity 300ms;
  z-index: 0;
}

.blurb > p > button > i,
.blurb > p > button > kbd {
  position: relative;
  z-index: 1;
}

.blurb > p > button > i {
  top: 4.3px;
  left: 1px;
}

.blurb > p > button > kbd {
  aspect-ratio: 1 / 1;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border: 1px solid rgba(55, 55, 55, 0.8);
  border-radius: 3px;
}

.blurb .kbd-blob {
  position: absolute;
  filter: blur(10px);
  background: #859900;
  height: 20px;
  width: 20px;
  right: 13px;
  top: 5px;
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms ease;
}

.profile-contact-btn {
  transition: 300ms;
}

p > button.profile-contact-btn:hover::before {
  opacity: 1;
  transition: opacity 300ms;
}

.about-me-wrapper {
  width: 100%;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-grid,
.skills-card-grid {
  display: grid;
  padding-top: 12px;
}

.about-me-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 220px 100px 150px;
  gap: 20px;
  width: 100%;
}

.about-card {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  position: relative;
}

.about-card h3 {
  font-family: "Monomakh";
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.15);
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  height: 28px;
  width: 100%;
  font-size: 1.1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card p {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.about-card .lang-text[lang="ja"] {
  font-size: clamp(0.5rem, 1.1vw, 0.92rem);
  text-align: start;
  margin-top: -2px;
}

.work-card {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.9em;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.work-card a {
  text-decoration: underline;
  transition: 200ms;
}

.work-card a:hover {
  color: var(--grey-black);
  transition: 200ms;
}

.hobbies-card {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: start;
  text-align: center;
}

.hobbies-card > ul {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 14px;
  font-size: clamp(0.5rem, 1.2vw, 1rem);
}

.hobbies-card > ul > li > i {
  font-size: 1.3rem;
  margin-right: 16px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hometown-card,
.name-card {
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: start;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hometown-card :nth-child(3) {
  font-size: 0.8em;
}

.hometown-card > .map-container {
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.15);
  border-radius: 8px;
  margin-top: 9px;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.65rem;
  font-style: italic;
}

.name-card h4 {
  padding: 0;
  line-height: 1.2;
  margin-top: -11px;
  font-size: clamp(0.7rem, 1.8vw, 1.1rem);
  width: 100%;
  text-align: center;
}

.name-card h4 .lang-text[lang="ja"] {
  font-size: clamp(0.7rem, 1.5vw, 1.2rem);
  position: relative;
  margin-top: 2px;
  /* left: -20px; */
}

.name-card p {
  font-size: clamp(0.7rem, 1vw, 0.9rem);
  /* width: 90%; */
}

.name-card p .lang-text[lang="ja"] {
  font-size: clamp(0.68rem, 1.4vw, 0.89rem);
  width: 105%;
  left: -2%;
  position: relative;
  text-align: start;
}

.fun-card {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.fun-card > .book-title {
  font-size: 1.3rem;
  font-family: "Monomakh";
  margin-top: 3px;
}

.fun-card > .author {
  font-size: 0.95rem;
  font-style: italic;
  margin-top: 3px;
}

.education-card {
  grid-column: 4;
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.education-card > .college-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.education-card h4 {
  margin: 0;
  font-size: 1.1em;
  font-family: "Monomakh";
  margin-bottom: 8px;
}

.education-card h4 .lang-text[lang="ja"] {
  font-size: clamp(0.7rem, 1.3vw, 1.2rem);
  position: relative;
  left: -6px;
}

.education-card p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.down-arrow {
  font-size: 2em;
}

h2 {
  font-family: "Monomakh";
  font-weight: 400;
  font-size: 2.3rem;
}

.skills-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-card-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.skills-card {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  cursor: pointer;
}

.skills-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms;
  z-index: -1;
}

.skills-card.js::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(94.1%, 85.9%, 31%, 0.21)
  );
}

.skills-card.css::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(64, 123, 220, 0.21)
  );
}

.skills-card.html::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(243, 80, 42, 0.21)
  );
}

.skills-card.tableau::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(91, 101, 146, 0.31)
  );
}

.skills-card.ga::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(227, 117, 1, 0.21)
  );
}

.skills-card.looker::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(64, 123, 220, 0.21)
  );
}

.skills-card.ads::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(252, 189, 3, 0.21)
  );
}

.skills-card.bigquery::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(64, 123, 220, 0.21)
  );
}

.skills-card.replit::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(242, 98, 8, 0.31)
  );
}

.skills-card:hover::before {
  opacity: 1;
}

.skills-card i:first-child {
  font-size: 5.3rem;
}

.skills-card img {
  height: 92px;
}

.skills-card > .fa-plus {
  position: absolute;
  top: 78%;
  right: 15px;
  color: rgba(93.7%, 92.2%, 91.8%, 0.3);
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  padding: 10px;
  border-radius: 50%;
  transition: all 300ms ease;
}

.skills-card:hover > .fa-plus {
  color: #000;
  border-color: rgba(239, 235, 234, 0.75);
  background-color: rgba(239, 235, 234, 0.75);
  transition: all 300ms ease;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

body:has(dialog:modal) {
  overflow: hidden;
}

dialog {
  transition:
    display 300ms allow-discrete,
    overlay 300ms allow-discrete;

  animation: close 200ms forwards;
  &[open] {
    animation: open 200ms forwards;
  }

  outline: 0;
}

@keyframes open {
  from {
    opacity: 0;
    top: 20%;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    top: 20%;
  }
}

.skills-modal {
  cursor: default;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 72%; */
  /* max-width: 1200px; */
  width: 67%;
  max-width: 1000px;
  height: 830px;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--text);
  background: radial-gradient(
    106.42% 76.6% at 80% 32.26%,
    rgba(15, 15, 15, 0.917),
    rgba(2, 5, 11, 0.917)
  );
  border-radius: 12px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
  overflow: hidden;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.skills-modal {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
}

.skills-modal::-webkit-scrollbar {
  width: 12px;
}

.skills-modal::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.skills-modal::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.skills-modal::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.skills-modal > button,
.contact-modal > button {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 20px;
  height: 30px;
  aspect-ratio: 1 / 1;
  background: none;
  border: none;
  margin-left: auto;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  outline: 0;
}

.skills-modal > button > i,
.contact-modal > button > i {
  font-size: 1.4em;
  color: rgba(93.7%, 92.2%, 91.8%, 0.3);
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  border-radius: 50%;
  transition: color 300ms ease;
}

.skills-modal > button:focus > i,
.contact-modal > button:focus > i {
  outline: 0;
  border: 2px solid #3f8ec5;
  transform: translate(1px, -0px);
}

.skills-modal > button:hover > i,
.contact-modal > button:hover > i {
  color: var(--text);
  transition: color 300ms ease;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 40px 50px;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.15);
  padding-bottom: 15px;
}

.modal-header i {
  font-size: 3.5rem;
}

.modal-header img {
  height: 56px;
  width: 56px;
}

.modal-header h3,
.modal-header h3 > span {
  font-family: "Monomakh";
  font-size: 2.2rem;
  font-weight: 400;
}

.modal-header h3 > span.lang-text[lang="ja"] {
  font-family: "Noto Serif JP";
  font-weight: 800;
  font-size: 0.95em;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modal-body h4 {
  margin-bottom: 8px;
}

.modal-body h4,
.modal-body h4 > span {
  font-family: "Monomakh";
  font-size: 1.3rem;
  font-weight: 400;
}

.modal-body h4 > span.lang-text[lang="ja"] {
  font-family: "Noto Serif JP";
  font-weight: 600;
}

.skill-proficiency {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.proficiency-meter {
  height: 10px;
  width: 100%;
  background: rgba(93.7%, 92.2%, 91.8%, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.proficiency-fill {
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(93.7%, 92.2%, 91.8%, 0.3),
    rgba(153, 138, 118, 0.8)
  );
  border-radius: 5px;
}

.skill-proficiency span {
  align-self: flex-end;
  font-size: 0.9rem;
}

.skill-highlights,
.skill-projects {
  margin-top: 5px;
}

.skill-highlights ul {
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 13px 20px;
}

.skill-projects {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skill-projects > h4 {
  margin-bottom: 2px;
}

.project-item {
  background: rgba(2, 5, 11, 0.217);
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.15);
  border-radius: 5px;
  padding: 15px;
}

.project-item h5 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.project-item table {
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.15);
  background: radial-gradient(
    106.42% 76.6% at 80% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0),
    rgba(2, 5, 11, 0.217)
  );
  border-radius: 5px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 8px;
}

.project-item table td {
  height: 100px;
  border-radius: 5px;
}

.project-item table .first-row {
  width: 150px;
  font-weight: 600;
  text-align: center;
}

.project-item table td:not(.first-row) {
  padding: 15px 10px 15px 15px;
  background: rgba(93.7%, 92.2%, 91.8%, 0.05);
}

.project-item
  table
  tr:nth-child(2)
  > td:nth-child(2)
  > span.lang-text[lang="ja"] {
  position: relative;
  left: -9px;
}

td ul {
  margin-left: -39px;
}

ul:has(.repo-list-item) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.repo-list-item {
  display: flex;
  flex-direction: row;
  gap: 13px;
  border-radius: 1px;
  height: 40px;
}

.repo-list-item > h6 {
  font-size: 1.1rem;
}

.repo-list-item > .git-link-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: lightgray;
  color: #000;
  border-radius: 20px;
  height: 24px;
  padding-inline: 1.4ch;
  padding-bottom: 2px;
  margin-inline-end: 1ch;
}

.github-link-icon > img,
.live-link-icon > i {
  height: 23px;
  width: 23px;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 90px;
  font-size: 1.2rem;
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 20px 11px 20px;
}

.email-copy-container {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: color 200ms ease;
}

.email-copy-container:hover {
  color: #3f8ec5;
  transition: color 200ms ease;
}

#email-text-conversion {
  font-weight: 600;
  font-size: 1.2em;
}

.contact-modal {
  cursor: default;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66%;
  max-width: 660px;
  height: 360px;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--text);
  background: radial-gradient(
    106.42% 76.6% at 80% 32.26%,
    rgba(15, 15, 15, 0.917),
    rgba(2, 5, 11, 0.917)
  );
  border-radius: 12px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
  overflow: hidden;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.contact-modal-content {
  display: flex;
  flex-direction: row;
}

footer {
  width: 100%;
  font-size: 0.6rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1280px) {
  .about-me-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 20px;
  }

  .work-card {
    grid-column: 1 / span 1;
    grid-row: 1;
    height: auto;
    min-height: 220px;
  }

  .hobbies-card {
    grid-column: 1 / span 2;
    grid-row: 4;
    height: auto;
    min-height: 140px;
  }

  .hobbies-card ul {
    flex-direction: row;
    margin: 0 auto;
    gap: 30px;
    font-size: 1.3em;
    padding: 0;
  }

  .education-card {
    grid-column: 1;
    grid-row: 2 / span 2;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .hometown-card {
    grid-column: 2;
    grid-row: 2;
    height: auto;
    min-height: 150px;
  }

  .name-card {
    grid-column: 2;
    grid-row: 1;
    height: auto;
    min-height: 230px;
  }

  .fun-card {
    grid-column: 2;
    grid-row: 3;
    height: auto;
    min-height: 140px;
  }

  .about-card p {
    font-size: clamp(0.75rem, 1.5vw, 0.9rem);
  }

  .about-card li {
    font-size: clamp(0.75rem, 1.2vw, 0.9rem);
  }

  .about-card h3 {
    font-size: clamp(0.9rem, 1.8vw, 1.5rem) !important;
  }

  .about-card {
    padding: 10px 15px 15px 15px;
  }

  .education-card {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media only screen and (max-width: 480px) {
  html,
  body {
    width: 100vw;
  }

  main {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  kbd {
    display: none !important;
  }

  header {
    width: 90%;
    /* padding: 12px 12px 0 12px; */
  }

  nav {
    width: 100%;
  }

  section {
    width: 90%;
  }

  .container {
    width: 100%;
  }

  .desktop-nav-item {
    display: none !important;
  }

  .top-profile-container {
    align-self: center;
    flex-direction: column;
    gap: 70px;
    height: 90vh;
  }

  .top-profile-container h1 {
    font-size: 2.8rem;
  }

  .profile-img-container,
  .profile-img-container > * {
    width: 280px;
    height: 280px;
    max-height: 280px;
  }

  .img-blob {
    height: 200px;
    max-height: 200px;
    width: 200px;
  }

  .name-and-blurb-container {
    text-align: center;
  }

  .about-me-wrapper {
    margin-top: 0;
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: none;
  }

  .about-me-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 480px;
  }

  .about-card {
    width: 100%;
    height: auto;
    padding: 10px 15px 30px 15px;
  }

  .about-card p {
    font-size: 1.1rem;
  }

  .about-card li {
    font-size: clamp(0.75rem, 1.2vw, 0.9rem);
  }

  .about-card h3 {
    font-size: clamp(1.2rem, 2.1vw, 2.2rem) !important;
    top: -2px;
  }

  .name-card h4 {
    font-size: clamp(1.2rem, 2.1vw, 2.2rem) !important;
    margin-bottom: 3px;
  }

  .name-card :nth-child(4),
  .name-card :nth-child(5) {
    display: none;
  }

  .hobbies-card ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .fun-card {
    display: none;
  }

  .skills-wrapper,
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-card-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 18px;
  }

  .skills-card {
    aspect-ratio: 1 / 1;
    min-height: 0;
  }

  .skills-card.ga {
    display: none;
  }

  .contact-text-wrapper {
    display: flex;
    flex-direction: column;
    height: 130px;
    padding: 20px;
    width: 100%;
  }

  .contact-text-wrapper :first-child {
    font-size: 1rem;
  }

  footer {
    font-size: 0.7rem;
    margin-bottom: 5px;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
