@import url("https://fonts.googleapis.com/css2?family=Monomakh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Reset End */

:root {
  --deep-yellow: #f4d000;
  --festive-green: #397652;
  --seal-red: #d80100;
  --grey-black: #494438;
  --off-white: #efebea;

  --bg: #000;
  --text: #efebea;
}

* {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
}

.monomakh-regular {
  font-family: "Monomakh", serif;
  font-weight: 400;
  font-style: normal;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bg);
  color: var(--text);
}

body::before,
body::after {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 20%;
}

body::before {
  background: #07080a;
  filter: url(#noiseFilter);
}

header {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 91.5%;
  max-width: none;
  align-self: center;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  background: radial-gradient(
    126.42% 76.6% at 50% 12.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 90%;
}

li {
  list-style-type: none;
  height: 27px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

li:has(> img) {
  margin-right: auto;
  filter: invert(1);
  width: 117px;
}

.site-logo {
  height: 20px;
}

li:has(> .switch-container) {
  margin-left: auto;
}

nav ul > li > a {
  border-radius: 5px;
  padding: 3px 5px;
  transition: all 300ms;
}

nav ul > li > a:hover {
  background: rgba(5, 3, 8, 0.3);
  color: #fff;
  transition: all 300ms;
}

/* Language Toggle Start */
/* Adapted from https://uiverse.io/JaydipPrajapati1910/splendid-panda-57 */
.switch-container,
.switch-container > * {
  box-sizing: content-box;
}

.switch-container {
  display: flex;
  vertical-align: middle;
  text-align: center;
  position: relative;
  /* top: 2.75px; */
}

.switch-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 600;
}

.btn-language-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-language-switch > label.btn-language-switch-inner {
  margin: 0px;
  width: 74px;
  height: 35px;
  /* background: #e0e0e0; */
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
  cursor: pointer;
}

.btn-language-switch > label.btn-language-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 13px;
  color: var(--text);
  opacity: 0.5;
}

.btn-language-switch > label.btn-language-switch-inner:after {
  content: attr(data-off);
  width: 30px;
  height: 29px;
  background: rgba(64, 123, 220, 0.8);
  color: var(--text);
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-language-switch > .alert {
  display: none;
  background: #ff9800;
  border: none;
  color: #fff;
}

.btn-language-switch input[type="checkbox"] {
  width: 30px;
  height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
  cursor: pointer;
}

.btn-language-switch
  input[type="checkbox"]:checked
  + label.btn-language-switch-inner {
  color: #fff;
}

.btn-language-switch
  input[type="checkbox"]:checked
  + label.btn-language-switch-inner:after {
  content: attr(data-on);
  left: 40px;
  padding-left: 1px;
  background: var(--seal-red);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-language-switch
  input[type="checkbox"]:checked
  + label.btn-language-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 11px;
  color: #fff;
}

.btn-language-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.dark-preview {
  background: #0d0d0d;
}

.white-preview {
  background: #fff;
}

.switch-container > kbd {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border: 1px solid rgba(55, 55, 55, 0.8);
  border-radius: 3px;
}
/* Language Toggle End */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 80%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  margin-top: 100px;
  margin-bottom: 80px;
  border: 5px solid var(--text);
  border-radius: 50%;
}

section#profile {
  padding-top: 169px;
}

h1 {
  font-family: "Caprasimo";
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: -12px;
}

h1.name-header {
  position: relative;
  left: -1px;
}

.name-header .greeting {
  font-size: 0.9em;
  font-weight: normal;
  font-family: inherit;
}

.top-profile-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 140px;
}

.profile-img-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  flex-shrink: 0;
}

.profile-img-container img {
  height: 320px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
}

.profile-img-container .img-blob {
  position: absolute;
  border-radius: 100px;
  filter: blur(90px);
  background: linear-gradient(180deg, #ffe6c4 0%, #998a76 100%);
  height: 280px;
  width: 280px;
  z-index: -1;
}

.blurb {
  width: auto;
}

p > a.profile-contact-btn {
  margin-top: 3px;
}

.blurb > p > a {
  position: relative;
  background: radial-gradient(
    36.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 5px 12px 5px 12px;
  display: inline-flex;
  gap: 14px;
  cursor: pointer;
  overflow: hidden;
}

p > a.profile-contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: radial-gradient(
    76.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(153, 138, 118, 0.31)
  );
  transition: opacity 300ms;
  z-index: 0;
}

.blurb > p > a > i,
.blurb > p > a > kbd {
  position: relative;
  z-index: 1;
}

.blurb > p > a > i {
  top: 4.3px;
  left: 1px;
}

.blurb > p > a > kbd {
  aspect-ratio: 1 / 1;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border: 1px solid rgba(55, 55, 55, 0.8);
  border-radius: 3px;
}

.profile-contact-btn {
  transition: 300ms;
}

p > a.profile-contact-btn:hover::before {
  opacity: 1;
  transition: opacity 300ms;
}

.about-me-wrapper {
  width: 100%;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-grid,
.skills-card-grid {
  display: grid;
  padding-top: 12px;
}

.about-me-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 220px 100px 150px;
  gap: 20px;
  width: 100%;
}

.about-card {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  position: relative;
}

/* Hover card change final rgba value in gradient to add soft colors (blue, yellow, etc). */

.about-card h3 {
  font-family: "Monomakh";
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.15);
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  height: 28px;
  width: 100%;
  font-size: 1.1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-card {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.9em;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.work-card a {
  text-decoration: underline;
  transition: 200ms;
}

.work-card a:hover {
  color: var(--grey-black);
  transition: 200ms;
}

.hobbies-card {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: start;
  text-align: center;
}

.hobbies-card > ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}

.hobbies-card > ul > li > i {
  font-size: 1.3rem;
  margin-right: 10px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hometown-card,
.name-card {
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: start;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hometown-card :nth-child(3) {
  font-size: 0.8em;
}

.hometown-card > .map-container {
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.15);
  border-radius: 8px;
  margin-top: 9px;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.65rem;
  font-style: italic;
}

.name-card h4 {
  padding: 0;
  line-height: 1.2;
  margin-top: -11px;
  font-size: clamp(0.7rem, 1.8vw, 1rem);
  width: 100%;
  text-align: center;
}

.name-card p {
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  width: 90%;
}

.fun-card {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.fun-card > .book-title {
  font-size: 1.3rem;
  font-family: "Monomakh";
  margin-top: 3px;
}

.fun-card > .author {
  font-size: 0.95rem;
  font-style: italic;
  margin-top: 3px;
}

.education-card {
  grid-column: 4;
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.education-card > .college-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.education-card h4 {
  margin: 0;
  font-size: 1.1em;
  font-family: "Monomakh";
  margin-bottom: 8px;
}

.education-card p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.down-arrow {
  font-size: 2em;
}
/* Add Doshisha next to down arrow, in absolute cell */

h2 {
  font-family: "Monomakh";
  font-weight: 400;
  font-size: 2.3rem;
}

.skills-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-card-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.skills-card {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  /* cursor: pointer; */
}

.skills-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms;
  z-index: -1;
}

.skills-card.js::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(94.1%, 85.9%, 31%, 0.21)
  );
}

.skills-card.vite::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(184, 65, 255, 0.21)
  );
}

.skills-card.git::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(243, 80, 42, 0.21)
  );
}

.skills-card.tableau::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(91, 101, 146, 0.31)
  );
}

.skills-card.ga::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(227, 117, 1, 0.21)
  );
}

.skills-card.looker::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(64, 123, 220, 0.21)
  );
}

.skills-card.ads::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(252, 189, 3, 0.21)
  );
}

.skills-card.bigquery::before {
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(64, 123, 220, 0.21)
  );
}

.skills-card:hover::before {
  opacity: 1;
}

.skills-card i {
  font-size: 5.3rem;
}

.skills-card img {
  height: 92px;
}

.contact-wrapper {
  width: 100%;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 90px;
  font-size: 1.5rem;
  background: radial-gradient(
    126.42% 76.6% at 50% 32.26%,
    rgba(93.7%, 92.2%, 91.8%, 0.1),
    rgba(2, 5, 11, 0.13)
  );
  border: 1px solid rgba(93.7%, 92.2%, 91.8%, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 20px 11px 20px;
}

#email-text-conversion {
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  html,
  body {
    width: 100vw;
  }

  main {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  kbd {
    display: none !important;
  }

  header {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  .desktop-nav-item {
    display: none !important;
  }

  .top-profile-container {
    align-self: center;
    flex-direction: column;
    gap: 70px;
    height: 100vh;
  }

  .top-profile-container h1 {
    font-size: 2.8rem;
  }

  .profile-img-container,
  .profile-img-container > * {
    width: 280px;
    height: 280px;
    max-height: 280px;
  }

  .img-blob {
    height: 200px;
    max-height: 200px;
    width: 200px;
  }

  .name-and-blurb-container {
    text-align: center;
  }
}
